# Projet AdventureWorks

In [2]:
import pandas as pd
import pymysql
#import matplotlib.pyplot as plt
#import plotly as py
import pandas as pd
#import plotly.graph_objs as go
#from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [ ]:
#py.__version__

In [3]:
#plotly.__version__

NameError: name 'plotly' is not defined

In [ ]:
init_notebook_mode(connected=True) # activation l'affichage de plot dans notebook

## 1) Connexion avec MySQL

In [6]:
conn=pymysql.connect(database='adventureworks',user='root',password='')
cursor=conn.cursor()
cursor.execute('select * from SalesOrderHeader left join Address on Address.AddressID=SalesOrderHeader.ShiptoAddressID left join StateProvince on Address.StateProvinceID=StateProvince.StateProvinceID;')

31465

In [7]:
rows = cursor.fetchall()
rows

((43659,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29825,
  '279.0',
  985,
  985,
  Decimal('23153.233900'),
  datetime.datetime(2011, 6, 7, 0, 0),
  985,
  '42525 Austell Road',
  '',
  'Austell',
  17,
  '30106',
  '31/05/2011 00:00\r',
  17,
  'GA ',
  'US',
  'Georgia',
  '2014-02-08 10:17:21.587000000\r'),
 (43660,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29672,
  '279.0',
  921,
  921,
  Decimal('1457.328800'),
  datetime.datetime(2011, 6, 7, 0, 0),
  921,
  '6055 Shawnee Industrial Way',
  '',
  'Suwanee',
  17,
  '30024',
  '31/05/2011 00:00\r',
  17,
  'GA ',
  'US',
  'Georgia',
  '2014-02-08 10:17:21.587000000\r'),
 (43661,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29734,
  '282.0',
  517,
  517,
  Decimal('36865.801200'),
  datetime.datetime(2011, 6, 7, 0, 0),
  517,
  '2573 Dufferin Street',
  '',
  'Toronto',
  57,
  'M4B 1V5',
  '31/05/2011 00:00\r',
  57,
  'ON ',
  'CA',
  'Ontario',
  '2014-02-08 10:17:21.587000000\r'),
 (43662,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29994,
  '282.0',
  482,
  482,
  Decimal('32474.932400'),
  datetime.datetime(2011, 6, 7, 0, 0),
  482,
  '2500 University Avenue',
  '',
  'Toronto',
  57,
  'M4B 1V5',
  '31/05/2011 00:00\r',
  57,
  'ON ',
  'CA',
  'Ontario',
  '2014-02-08 10:17:21.587000000\r'),
 (43663,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29565,
  '276.0',
  1073,
  1073,
  Decimal('472.310800'),
  datetime.datetime(2011, 6, 7, 0, 0),
  1073,
  '3065 Santa Margarita Parkway',
  '',
  'Trabuco Canyon',
  9,
  '92679',
  '31/05/2011 00:00\r',
  9,
  'CA ',
  'US',
  'California',
  '2014-02-08 10:17:21.587000000\r'),
 (43664,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29898,
  '280.0',
  876,
  876,
  Decimal('27510.410900'),
  datetime.datetime(2011, 6, 7, 0, 0),
  876,
  '765 Delridge Way Sw',
  '',
  'Seattle',
  79,
  '98104',
  '31/05/2011 00:00\r',
  79,
  'WA ',
  'US',
  'Washington',
  '2014-02-08 10:17:21.587000000\r'),
 (43665,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29580,
  '283.0',
  849,
  849,
  Decimal('16158.696100'),
  datetime.datetime(2011, 6, 7, 0, 0),
  849,
  '4251 First Avenue',
  '',
  'Seattle',
  79,
  '98104',
  '31/05/2011 00:00\r',
  79,
  'WA ',
  'US',
  'Washington',
  '2014-02-08 10:17:21.587000000\r'),
 (43666,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  30052,
  '276.0',
  1074,
  1074,
  Decimal('5694.856400'),
  datetime.datetime(2011, 6, 7, 0, 0),
  1074,
  '9920 Bridgepointe Parkway',
  '',
  'San Mateo',
  9,
  '94404',
  '31/05/2011 00:00\r',
  9,
  'CA ',
  'US',
  'California',
  '2014-02-08 10:17:21.587000000\r'),
 (43667,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29974,
  '277.0',
  629,
  629,
  Decimal('6876.364900'),
  datetime.datetime(2011, 6, 7, 0, 0),
  629,
  'St. Louis Marketplace',
  '',
  'Saint Louis',
  37,
  '63103',
  '31/05/2011 00:00\r',
  37,
  'MO ',
  'US',
  'Missouri',
  '2014-02-08 10:17:21.587000000\r'),
 (43668,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29614,
  '282.0',
  529,
  529,
  Decimal('40487.723300'),
  datetime.datetime(2011, 6, 7, 0, 0),
  529,
  '254480 River Rd',
  '',
  'Richmond',
  7,
  'V6B 3P7',
  '31/05/2011 00:00\r',
  7,
  'BC ',
  'CA',
  'British Columbia',
  '2014-02-08 10:17:21.587000000\r'),
 (43669,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29747,
  '283.0',
  895,
  895,
  Decimal('807.258500'),
  datetime.datetime(2011, 6, 7, 0, 0),
  895,
  '3250 South Meridian',
  '',
  'Puyallup',
  79,
  '98371',
  '31/05/2011 00:00\r',
  79,
  'WA ',
  'US',
  'Washington',
  '2014-02-08 10:17:21.587000000\r'),
 (43670,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29566,
  '275.0',
  810,
  810,
  Decimal('6893.254900'),
  datetime.datetime(2011, 6, 7, 0, 0),
  810,
  'Redford Plaza',
  '',
  'Redford',
  35,
  '48239',
  '31/05/2011 00:00\r',
  35,
  'MI ',
  'US',
  'Michigan',
  '2014-02-08 10:17:21.587000000\r'),
 (43671,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29890,
  '283.0',
  855,
  855,
  Decimal('9153.605400'),
  datetime.datetime(2011, 6, 7, 0, 0),
  855,
  '15 East Main',
  '',
  'Port Orchard',
  79,
  '98366',
  '31/05/2011 00:00\r',
  79,
  'WA ',
  'US',
  'Washington',
  '2014-02-08 10:17:21.587000000\r'),
 (43672,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  30067,
  '282.0',
  464,
  464,
  Decimal('6895.410000'),
  datetime.datetime(2011, 6, 7, 0, 0),
  464,
  '99, Rue Saint-pierre',
  '',
  'Pnot-Rouge',
  63,
  'J1E 2T7',
  '31/05/2011 00:00\r',
  63,
  'QC ',
  'CA',
  'Quebec',
  '2014-02-08 10:17:21.587000000\r'),
 (43673,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29844,
  '275.0',
  821,
  821,
  Decimal('4216.025800'),
  datetime.datetime(2011, 6, 7, 0, 0),
  821,
  'Stateline Plaza',
  '',
  'Plaistow',
  46,
  '3865',
  '31/05/2011 00:00\r',
  46,
  'NH ',
  'US',
  'New Hampshire',
  '2014-02-08 10:17:21.587000000\r'),
 (43674,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29596,
  '282.0',
  458,
  458,
  Decimal('2955.054200'),
  datetime.datetime(2011, 6, 7, 0, 0),
  458,
  '600 Slater Street',
  '',
  'Ottawa',
  57,
  'K4B 1S2',
  '31/05/2011 00:00\r',
  57,
  'ON ',
  'CA',
  'Ontario',
  '2014-02-08 10:17:21.587000000\r'),
 (43675,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29827,
  '277.0',
  631,
  631,
  Decimal('6434.084800'),
  datetime.datetime(2011, 6, 7, 0, 0),
  631,
  'Kansas City Factory Outlet',
  '',
  'Odessa',
  37,
  '64076',
  '31/05/2011 00:00\r',
  37,
  'MO ',
  'US',
  'Missouri',
  '2014-02-08 10:17:21.587000000\r'),
 (43676,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29811,
  '275.0',
  755,
  755,
  Decimal('15992.744600'),
  datetime.datetime(2011, 6, 7, 0, 0),
  755,
  '9920 Picketts Line Road',
  '',
  'Newport News',
  75,
  '23607',
  '31/05/2011 00:00\r',
  75,
  'VA ',
  'US',
  'Virginia',
  '2014-02-08 10:17:21.587000000\r'),
 (43677,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29824,
  '278.0',
  556,
  556,
  Decimal('8773.681000'),
  datetime.datetime(2011, 6, 7, 0, 0),
  556,
  '990th Floor 700 De La GauchetiSre Ou',
  '',
  'Montreal',
  63,
  'H1Y 2H3',
  '31/05/2011 00:00\r',
  63,
  'QC ',
  'CA',
  'Quebec',
  '2014-02-08 10:17:21.587000000\r'),
 (43678,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29889,
  '281.0',
  1021,
  1021,
  Decimal('11036.396400'),
  datetime.datetime(2011, 6, 7, 0, 0),
  1021,
  '440 West Huntington Dr.',
  '',
  'Monrovia',
  9,
  '91016',
  '31/05/2011 00:00\r',
  9,
  'CA ',
  'US',
  'California',
  '2014-02-08 10:17:21.587000000\r'),
 (43679,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29761,
  '278.0',
  525,
  525,
  Decimal('1481.174200'),
  datetime.datetime(2011, 6, 7, 0, 0),
  525,
  '69251 Creditview Road',
  '',
  'Mississauga',
  57,
  'L5B 3V4',
  '31/05/2011 00:00\r',
  57,
  'ON ',
  'CA',
  'Ontario',
  '2014-02-08 10:17:21.587000000\r'),
 (43680,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29489,
  '281.0',
  1069,
  1069,
  Decimal('12832.900900'),
  datetime.datetime(2011, 6, 7, 0, 0),
  1069,
  '6900 Sisk Road',
  '',
  'Modesto',
  9,
  '95354',
  '31/05/2011 00:00\r',
  9,
  'CA ',
  'US',
  'California',
  '2014-02-08 10:17:21.587000000\r'),
 (43681,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29661,
  '279.0',
  955,
  955,
  Decimal('15524.068600'),
  datetime.datetime(2011, 6, 7, 0, 0),
  955,
  'Edgewater Mall',
  '',
  'Biloxi',
  39,
  '39530',
  '31/05/2011 00:00\r',
  39,
  'MS ',
  'US',
  'Mississippi',
  '2014-02-08 10:17:21.587000000\r'),
 (43682,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29759,
  '275.0',
  808,
  808,
  Decimal('4363.710700'),
  datetime.datetime(2011, 6, 7, 0, 0),
  808,
  'Tree Plaza',
  '',
  'Braintree',
  30,
  '2184',
  '31/05/2011 00:00\r',
  30,
  'MA ',
  'US',
  'Massachusetts',
  '2014-02-08 10:17:21.587000000\r'),
 (43683,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29497,
  '283.0',
  889,
  889,
  Decimal('48204.066200'),
  datetime.datetime(2011, 6, 7, 0, 0),
  889,
  'Eastridge Mall',
  '',
  'Casper',
  82,
  '82601',
  '31/05/2011 00:00\r',
  82,
  'WY ',
  'US',
  'Wyoming',
  '2014-02-08 10:17:21.587000000\r'),
 (43684,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29912,
  '279.0',
  971,
  971,
  Decimal('6301.625800'),
  datetime.datetime(2011, 6, 7, 0, 0),
  971,
  'Bay Area Outlet Mall',
  '',
  'Clearwater',
  15,
  '33755',
  '31/05/2011 00:00\r',
  15,
  'FL ',
  'US',
  'Florida',
  '2014-02-08 10:17:21.587000000\r'),
 (43685,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  30084,
  '279.0',
  958,
  958,
  Decimal('3082.019100'),
  datetime.datetime(2011, 6, 7, 0, 0),
  958,
  'Silver Sands Factory Outlet',
  '',
  'Destin',
  15,
  '32541',
  '31/05/2011 00:00\r',
  15,
  'FL ',
  'US',
  'Florida',
  '2014-02-08 10:17:21.587000000\r'),
 (43686,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29606,
  '283.0',
  871,
  871,
  Decimal('3899.675600'),
  datetime.datetime(2011, 6, 7, 0, 0),
  871,
  '2502 Evergreen Ste E',
  '',
  'Everett',
  79,
  '98201',
  '31/05/2011 00:00\r',
  79,
  'WA ',
  'US',
  'Washington',
  '2014-02-08 10:17:21.587000000\r'),
 (43687,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29610,
  '275.0',
  783,
  783,
  Decimal('1416.932200'),
  datetime.datetime(2011, 6, 7, 0, 0),
  783,
  '25264 E. 260th',
  '',
  'Euclid',
  55,
  '44119',
  '31/05/2011 00:00\r',
  55,
  'OH ',
  'US',
  'Ohio',
  '2014-02-08 10:17:21.587000000\r'),
 (43688,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29718,
  '275.0',
  771,
  771,
  Decimal('14323.119400'),
  datetime.datetime(2011, 6, 7, 0, 0),
  771,
  '42522 Northrupp',
  '',
  'Fort Wayne',
  25,
  '46807',
  '31/05/2011 00:00\r',
  25,
  'IN ',
  'US',
  'Indiana',
  '2014-02-08 10:17:21.587000000\r'),
 (43689,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29646,
  '277.0',
  578,
  578,
  Decimal('38291.206300'),
  datetime.datetime(2011, 6, 7, 0, 0),
  578,
  '220 Mercy Drive',
  '',
  'Garland',
  73,
  '75040',
  '31/05/2011 00:00\r',
  73,
  'TX ',
  'US',
  'Texas',
  '2014-02-08 10:17:21.587000000\r'),
 (43690,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29533,
  '275.0',
  801,
  801,
  Decimal('1460.606100'),
  datetime.datetime(2011, 6, 7, 0, 0),
  801,
  'Horizon Outlet Center',
  '',
  'Holland',
  35,
  '49423',
  '31/05/2011 00:00\r',
  35,
  'MI ',
  'US',
  'Michigan',
  '2014-02-08 10:17:21.587000000\r'),
 (43691,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29570,
  '277.0',
  592,
  592,
  Decimal('985.018000'),
  datetime.datetime(2011, 6, 7, 0, 0),
  592,
  '9903 Highway 6 South',
  '',
  'Houston',
  73,
  '77003',
  '31/05/2011 00:00\r',
  73,
  'TX ',
  'US',
  'Texas',
  '2014-02-08 10:17:21.587000000\r'),
 (43692,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29992,
  '281.0',
  1024,
  1024,
  Decimal('43362.419600'),
  datetime.datetime(2011, 6, 7, 0, 0),
  1024,
  '9952 E. Lohman Ave.',
  '',
  'Las Cruces',
  48,
  '88001',
  '31/05/2011 00:00\r',
  48,
  'NM ',
  'US',
  'New Mexico',
  '2014-02-08 10:17:21.587000000\r'),
 (43693,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29491,
  '275.0',
  807,
  807,
  Decimal('23126.450000'),
  datetime.datetime(2011, 6, 7, 0, 0),
  807,
  'Leesburg Premium Outlet Centre',
  '',
  'Leesburg',
  75,
  '20176',
  '31/05/2011 00:00\r',
  75,
  'VA ',
  'US',
  'Virginia',
  '2014-02-08 10:17:21.587000000\r'),
 (43694,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29549,
  '279.0',
  943,
  943,
  Decimal('23242.186500'),
  datetime.datetime(2011, 6, 7, 0, 0),
  943,
  '78025 E. Mercy Island Cswy',
  '',
  'Merritt Island',
  15,
  '32952',
  '31/05/2011 00:00\r',
  15,
  'FL ',
  'US',
  'Florida',
  '2014-02-08 10:17:21.587000000\r'),
 (43695,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29958,
  '279.0',
  911,
  911,
  Decimal('44344.826500'),
  datetime.datetime(2011, 6, 7, 0, 0),
  911,
  '100 Fifth Drive',
  '',
  'Millington',
  72,
  '38054',
  '31/05/2011 00:00\r',
  72,
  'TN ',
  'US',
  'Tennessee',
  '2014-02-08 10:17:21.587000000\r'),
 (43696,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  0,
  29849,
  '279.0',
  977,
  977,
  Decimal('472.310800'),
  datetime.datetime(2011, 6, 7, 0, 0),
  977,
  'Dadeland Mall, Space 25090',
  '',
  'Miami',
  15,
  '33127',
  '31/05/2011 00:00\r',
  15,
  'FL ',
  'US',
  'Florida',
  '2014-02-08 10:17:21.587000000\r'),
 (43697,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  1,
  21768,
  '',
  23148,
  23148,
  Decimal('3953.988400'),
  datetime.datetime(2011, 6, 7, 0, 0),
  23148,
  '601 Asilomar Dr.',
  '',
  'Metchosin',
  7,
  'V9',
  '31/05/2011 00:00\r',
  7,
  'BC ',
  'CA',
  'British Columbia',
  '2014-02-08 10:17:21.587000000\r'),
 (43698,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  1,
  28389,
  '',
  24593,
  24593,
  Decimal('3756.989000'),
  datetime.datetime(2011, 6, 7, 0, 0),
  24593,
  '14, avenue du Port',
  '',
  'Pantin',
  179,
  '93500',
  '2013-12-21 10:09:29.423000000\r',
  179,
  '93',
  'FR',
  'Seine Saint Denis',
  '30/04/2008 00:00\r'),
 (43699,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  1,
  25863,
  '',
  19613,
  19613,
  Decimal('3756.989000'),
  datetime.datetime(2011, 6, 7, 0, 0),
  19613,
  '4193 E. 28th Street',
  '',
  'Lebanon',
  58,
  '97355',
  '31/05/2011 00:00\r',
  58,
  'OR ',
  'US',
  'Oregon',
  '2014-02-08 10:17:21.587000000\r'),
 (43700,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  1,
  14501,
  '',
  20278,
  20278,
  Decimal('772.503600'),
  datetime.datetime(2011, 6, 7, 0, 0),
  20278,
  '249 Alexander Pl.',
  '',
  'Beverly Hills',
  9,
  '90210',
  '31/05/2011 00:00\r',
  9,
  'CA ',
  'US',
  'California',
  '2014-02-08 10:17:21.587000000\r'),
 (43701,
  datetime.datetime(2011, 5, 31, 0, 0),
  datetime.datetime(2011, 6, 12, 0, 0),
  datetime.datetime(2011, 6, 7, 0, 0),
  1,
  11003,
  '',
  20425,
  20425,
  Decimal('3756.989000'),
  datetime.datetime(2011, 6, 7, 0, 0),
  20425,
  '1825 Village Pl.',
  '',
  'North Ryde',
  50,
  '2113',
  '31/05/2011 00:00\r',
  50,
  'NSW',
  'AU',
  'New South Wales',
  '2014-02-08 10:17:21.587000000\r'),
 (43702,
  datetime.datetime(2011, 6, 1, 0, 0),
  datetime.datetime(2011, 6, 13, 0, 0),
  datetime.datetime(2011, 6, 8, 0, 0),
  1,
  27645,
  '',
  22584,
  22584,
  Decimal('3953.988400'),
  datetime.datetime(2011, 6, 8, 0, 0),
  22584,
  '7626 Sinclair Avenue',
  '',
  'Coronado',
  9,
  '92118',
  '01/06/2011 00:00\r',
  9,
  'CA ',
  'US',
  'California',
  '2014-02-08 10:17:21.587000000\r'),
 (43703,
  datetime.datetime(2011, 6, 1, 0, 0),
  datetime.datetime(2011, 6, 13, 0, 0),
  datetime.datetime(2011, 6, 8, 0, 0),
  1,
  16624,
  '',
  23967,
  23967,
  Decimal('3953.988400'),
  datetime.datetime(2011, 6, 8, 0, 0),
  23967,
  '3541 Corte Poquito',
  '',
  'Perth',
  66,
  '6006',
  '01/06/2011 00:00\r',
  66,
  'SA ',
  'AU',
  'South Australia',
  '2014-02-08 10:17:21.587000000\r'),
 (43704,
  datetime.datetime(2011, 6, 1, 0, 0),
  datetime.datetime(2011, 6, 13, 0, 0),
  datetime.datetime(2011, 6, 8, 0, 0),
  1,
  11005,
  '',
  16025,
  16025,
  Decimal('3729.364000'),
  datetime.datetime(2011, 6, 8, 0, 0),
  16025,
  '7305 Humphrey Drive',
  '',
  'East Brisbane',
  64,
  '4169',
  '01/06/2011 00:00\r',
  64,
  'QLD',
  'AU',
  'Queensland',
  '2014-02-08 10:17:21.587000000\r'),
 (43705,
  datetime.datetime(2011, 6, 1, 0, 0),
  datetime.datetime(2011, 6, 13, 0, 0),
  datetime.datetime(2011, 6, 8, 0, 0),
  1,
  11011,
  '',
  27345,
  27345,
  Decimal('3756.989000'),
  datetime.datetime(2011, 6, 8, 0, 0),
  27345,
  '1224 Shoenic',
  '',
  'East Brisbane',
  64,
  '4169',
  '01/06/2011 00:00\r',
  64,
  'QLD',
  'AU',
  'Queensland',
  '2014-02-08 10:17:21.587000000\r'),
 (43706,
  datetime.datetime(2011, 6, 2, 0, 0),
  datetime.datetime(2011, 6, 14, 0, 0),
  datetime.datetime(2011, 6, 9, 0, 0),
  1,
  27621,
  '',
  13264,
  13264,
  Decimal('3953.988400'),
  datetime.datetime(2011, 6, 9, 0, 0),
  13264,
  '2226 Cleveland Avenue',
  '',
  'Santa Monica',
  9,
  '90401',
  '02/06/2011 00:00\r',
  9,
  'CA ',
  'US',
  'California',
  '2014-02-08 10:17:21.587000000\r'),
 (43707,
  datetime.datetime(2011, 6, 2, 0, 0),
  datetime.datetime(2011, 6, 14, 0, 0),
  datetime.datetime(2011, 6, 9, 0, 0),
  1,
  27616,
  '',
  20923,
  20923,
  Decimal('3953.988400'),
  datetime.datetime(2011, 6, 9, 0, 0),
  20923,
  '3455 Southbrook Dr.',
  '',
  'Lemon Grove',
  9,
  '91945',
  '02/06/2011 00:00\r',
  9,
  'CA ',
  'US',
  'California',
  '2014-02-08 10:17:21.587000000\r'),
 (43708,
  datetime.datetime(2011, 6, 2, 0, 0),
  datetime.datetime(2011, 6, 14, 0, 0),
  datetime.datetime(2011, 6, 9, 0, 0),
  1,
  20042,
  '',
  18427,
  18427,
  Decimal('772.503600'),
  datetime.datetime(2011, 6, 9, 0, 0),
  18427,
  '2732 Frisbie Ct.',
  '',

## 2) Cration du DataFrame

In [8]:
df=pd.DataFrame(list(rows)) # transfer list au dataframe
df.columns=["SalesOrderID","OrderDate","DueDate","ShipDate","OnlineOrderFlag","CustomerID","SalesPersonID","BillToAddressID","ShipToAddressID","TotalDue","ModifiedDate","AddressID", "AddressLine1","AddressLine2", "City","StateProvinceID"," PostalCode", "ModifiedDate2","StateProvinceID","StateProvinceCode","Country","Name","ModifiedDate3"]
df.head()

,SalesOrderID,OrderDate,DueDate,ShipDate,OnlineOrderFlag,CustomerID,SalesPersonID,BillToAddressID,ShipToAddressID,TotalDue,...,AddressLine2,City,StateProvinceID,PostalCode,ModifiedDate2,StateProvinceID,StateProvinceCode,Country,Name,ModifiedDate3
0,43659,2011-05-31,2011-06-12,2011-06-07,0,29825,279.0,985,985,23153.233900,...,,Austell,17,30106,31/05/2011 00:00\r,17,GA,US,Georgia,2014-02-08 10:17:21.587000000\r
1,43660,2011-05-31,2011-06-12,2011-06-07,0,29672,279.0,921,921,1457.328800,...,,Suwanee,17,30024,31/05/2011 00:00\r,17,GA,US,Georgia,2014-02-08 10:17:21.587000000\r
2,43661,2011-05-31,2011-06-12,2011-06-07,0,29734,282.0,517,517,36865.801200,...,,Toronto,57,M4B 1V5,31/05/2011 00:00\r,57,ON,CA,Ontario,2014-02-08 10:17:21.587000000\r
3,43662,2011-05-31,2011-06-12,2011-06-07,0,29994,282.0,482,482,32474.932400,...,,Toronto,57,M4B 1V5,31/05/2011 00:00\r,57,ON,CA,Ontario,2014-02-08 10:17:21.587000000\r
4,43663,2011-05-31,2011-06-12,2011-06-07,0,29565,276.0,1073,1073,472.310800,...,,Trabuco Canyon,9,92679,31/05/2011 00:00\r,9,CA,US,California,2014-02-08 10:17:21.587000000\r

In [9]:
df_totaldue=df[["OrderDate","TotalDue","Country"]]
#df_totaldue.reset_index(drop=True)
#df_totaldue=df_totaldue.set_index('OrderDate').

In [10]:
df_totaldue["TotalDue"]=df_totaldue["TotalDue"].astype(float)

C:\Users\yoyo\Desktop\WPy64-3720\python-3.7.2.amd64\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
Country=df_totaldue['Country'].unique().tolist()
Country

['US', 'CA', 'FR', 'AU', 'GB', 'DE']

In [12]:
#crer des colonne year month day
df_totaldue['Year']=df_totaldue.OrderDate.dt.year
df_totaldue['Month']=df_totaldue.OrderDate.dt.month
df_totaldue['Day']=df_totaldue.OrderDate.dt.day

C:\Users\yoyo\Desktop\WPy64-3720\python-3.7.2.amd64\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\yoyo\Desktop\WPy64-3720\python-3.7.2.amd64\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\yoyo\Desktop\WPy64-3720\python-3.7.2.amd64\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
def by_country(list_country):
    for i in list_country:
        print (str(i)+"_total=df_totaldue.loc[df_totaldue['Country']=="+"'"+str(i)+"']")

In [ ]:
by_country(Country)

In [13]:
US_total=df_totaldue.loc[df_totaldue["Country"]=="US"]
AU_total=df_totaldue.loc[df_totaldue["Country"]=="AU"]
CA_total=df_totaldue.loc[df_totaldue["Country"]=="CA"]
FR_total=df_totaldue.loc[df_totaldue["Country"]=="FR"]
GB_total=df_totaldue.loc[df_totaldue["Country"]=="GB"]
DE_total=df_totaldue.loc[df_totaldue["Country"]=="DE"]

In [14]:
US_total.set_index('OrderDate',inplace=True)
AU_total.set_index('OrderDate',inplace=True)
CA_total.set_index('OrderDate',inplace=True)
FR_total.set_index('OrderDate',inplace=True)
GB_total.set_index('OrderDate',inplace=True)
DE_total.set_index('OrderDate',inplace=True)

## 3) Analyse et Vizualisation

In [15]:
df_US=US_total.groupby(pd.Grouper(freq="M")).sum()
df_AU=AU_total.groupby(pd.Grouper(freq="M")).sum()
df_CA=CA_total.groupby(pd.Grouper(freq="M")).sum()
df_FR=FR_total.groupby(pd.Grouper(freq="M")).sum()
df_GB=GB_total.groupby(pd.Grouper(freq="M")).sum()
df_DE=DE_total.groupby(pd.Grouper(freq="M")).sum()

In [17]:
data_US=go.Scatter(x=df_US.index,
    y= df_US['TotalDue'],name='US')
data_AU=go.Scatter(x=df_AU.index,
    y= df_AU['TotalDue'],name='AU')
data_CA=go.Scatter(x=df_CA.index,
    y= df_CA['TotalDue'],name='CA')
data_FR=go.Scatter(x=df_AU.index,
    y= df_FR['TotalDue'],name='FR')
data_GB=go.Scatter(x=df_US.index,
    y= df_GB['TotalDue'],name='GB')
data_DE=go.Scatter(x=df_AU.index,
    y= df_DE['TotalDue'],name='DE')

data=[data_US,data_AU,data_CA,data_FR,data_GB,data_DE]
layout=go.Layout(title="Revenue by Country")
fig=go.Figure(data, layout)
fig.show()

In [15]:
print(US_total.where(US_total.Year==2011).sum())
print(US_total.where(US_total.Year==2012).sum())
print(US_total.where(US_total.Year==2013).sum())
print(US_total.where(US_total.Year==2014).sum())

TotalDue    9.445719e+06
Year        1.461997e+06
Month       6.628000e+03
Day         1.022300e+04
dtype: float64
TotalDue    2.460676e+07
Year        3.422412e+06
Month       1.108900e+04
Day         3.747100e+04
dtype: float64
TotalDue    2.604434e+07
Year        1.056221e+07
Month       4.477100e+04
Day         9.646100e+04
dtype: float64
TotalDue    1.073304e+07
Year        8.793124e+06
Month       1.452800e+04
Day         6.893300e+04
dtype: float64

In [ ]:
def Annual_Total(Country,Year):
    for i in Country:
        for j in Year:
            print (str(i)+'_'+str(j)+'='+str(i)+'_total.where('+str(i)+'_total.Year=='+str(j)+').sum().TotalDue')

In [ ]:
Annual_Total(Country,['2011','2012','2013','2014'])

In [18]:
US_2011=US_total.where(US_total.Year==2011).sum().TotalDue
US_2012=US_total.where(US_total.Year==2012).sum().TotalDue
US_2013=US_total.where(US_total.Year==2013).sum().TotalDue
US_2014=US_total.where(US_total.Year==2014).sum().TotalDue
CA_2011=CA_total.where(CA_total.Year==2011).sum().TotalDue
CA_2012=CA_total.where(CA_total.Year==2012).sum().TotalDue
CA_2013=CA_total.where(CA_total.Year==2013).sum().TotalDue
CA_2014=CA_total.where(CA_total.Year==2014).sum().TotalDue
FR_2011=FR_total.where(FR_total.Year==2011).sum().TotalDue
FR_2012=FR_total.where(FR_total.Year==2012).sum().TotalDue
FR_2013=FR_total.where(FR_total.Year==2013).sum().TotalDue
FR_2014=FR_total.where(FR_total.Year==2014).sum().TotalDue
AU_2011=AU_total.where(AU_total.Year==2011).sum().TotalDue
AU_2012=AU_total.where(AU_total.Year==2012).sum().TotalDue
AU_2013=AU_total.where(AU_total.Year==2013).sum().TotalDue
AU_2014=AU_total.where(AU_total.Year==2014).sum().TotalDue
GB_2011=GB_total.where(GB_total.Year==2011).sum().TotalDue
GB_2012=GB_total.where(GB_total.Year==2012).sum().TotalDue
GB_2013=GB_total.where(GB_total.Year==2013).sum().TotalDue
GB_2014=GB_total.where(GB_total.Year==2014).sum().TotalDue
DE_2011=DE_total.where(DE_total.Year==2011).sum().TotalDue
DE_2012=DE_total.where(DE_total.Year==2012).sum().TotalDue
DE_2013=DE_total.where(DE_total.Year==2013).sum().TotalDue
DE_2014=DE_total.where(DE_total.Year==2014).sum().TotalDue

In [ ]:
US_2011=US_total.where(US_total.Year==2011).sum().TotalDue
print(US_total.where(US_total.Year==2012).sum().TotalDue)
US_2013=US_total.where(US_total.Year==2013).sum().TotalDue
US_2014=US_total.where(US_total.Year==2014).sum().TotalDue

AU_2011=AU_total.where(AU_total.Year==2011).sum().TotalDue
AU_2012=AU_total.where(AU_total.Year==2012).sum().TotalDue
AU_2013=AU_total.where(AU_total.Year==2013).sum().TotalDue
AU_2014=AU_total.where(AU_total.Year==2014).sum().TotalDue

In [ ]:
 Country

In [19]:
labels = Country
values = [US_2012,CA_2012,FR_2012,AU_2012,GB_2012,DE_2012]
data=[go.Pie(labels=labels, values=values)]
fig = go.Figure(data)
fig.show()

In [ ]:
#df_sort=df_totaldue.sort_values(by=['Country'])
# sort the dataframe

# set the index to be this and don't drop
df_totaldue.set_index(keys=['Country'], drop=False,inplace=True)
# get a list of names
Country=df_totaldue['Country'].unique().tolist()
# now we can perform a lookup on a 'view' of the dataframe
US_totaldue = df_totaldue.loc[df_totaldue.Country=='US']
# now you can query all 'joes'

In [ ]:
from plotly.subplots import make_subplots

In [ ]:
import plotly

In [ ]:
from _plotly_future_ import v4_subplots

In [ ]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [21]:
labels = Country
fig = make_subplots(rows=1, cols=2, specs=[[{'type':'pie'}, {'type':'pie'}]],subplot_titles=['2012', '2013'])
fig.add_trace(go.Pie(labels=labels, values=[US_2012,CA_2012,FR_2012,AU_2012,GB_2012,DE_2012], scalegroup='one',name="2012"), 1, 1)
fig.add_trace(go.Pie(labels=labels, values=[US_2013,CA_2013,FR_2013,AU_2013,GB_2012,DE_2013], scalegroup='one',name="2013"), 1, 2)

fig.update_layout(title_text='Annuel Revenue in 6 Countries')
fig.show()

In [ ]:
Country

In [ ]:
#g=df_totaldue.groupby(pd.Grouper(freq="M"))
#df_totaldue.head()
#df_totaldue.loc[df_totaldue.Country=="US"]
df_totaldue.set_index("OrderDate",inplace=True)
#df_totaldue.dtypes

In [ ]:
df_totaldue

In [ ]:
g = df_totaldue.groupby(pd.Grouper(freq="M"))
g.head()

In [ ]:
by_country=df_totaldue.groupby('Country').set_index("OrderDate",inplace=True)

In [ ]:
US_total=df_totaldue.loc[df_totaldue["Country"]=="US"]
AU_total=df_totaldue.loc[df_totaldue["Country"]=="AU"]
US_total

In [ ]:
conn=pymysql.connect(database='adventureworks',user='root',password='')
cursor=conn.cursor()
cursor.execute('select * from SalesOrderHeader left join Address on Address.AddressID=SalesOrderHeader.ShiptoAddressID left join StateProvince on Address.StateProvinceID=StateProvince.StateProvinceID;')

In [ ]:
rows = cursor.fetchall()

In [ ]:
data=rows

In [ ]:
Order_Number=data_slice(data,0)
Order_Number

In [ ]:
Country=data_slice(data,1)
Country

In [ ]:
df=pd.DataFrame({'Order_Number':Order_Number , 'Country': Country},index = ['a1', 'a2', 'a3','a4','a5','a6'])

In [ ]:
df

In [ ]:
data=[go.Bar(
    x= Country, 
    y= Order_Number)]
layout=go.Layout(title="Order Number by Country")
fig=go.Figure(data, layout)
iplot(fig)

In [ ]:
cursor.execute('select OrderDate, TotalDue from SalesOrderHeader;')

In [ ]:
rows_1 = cursor.fetchall()

In [ ]:
order_date=data_slice(rows_1,0)
total_due=data_slice(rows_1,1)

In [ ]:
df_order_date=pd.DataFrame({'OrderDate':order_date,'TotalDue':total_due})

In [ ]:
df_order_date.dtypes

In [ ]:
df_order_date

In [ ]:
month=pd.to_datetime(df_order_date.iloc[1,0]).month
month

In [ ]:
df_order_date.set_index('OrderDate',inplace=True)

In [ ]:
df_order_date.head()

In [ ]:
g = df_order_date.groupby(pd.Grouper(freq="M"))
g.head()

In [ ]:
df_due_by_month=g.sum()

In [ ]:
df_due_by_month.dtypes

In [ ]:
df_due_by_month.reset_index()['OrderDate']

In [ ]:
data=[go.Bar(x=df_due_by_month.reset_index()['OrderDate'],
    y= df_due_by_month.reset_index()['TotalDue'])]
layout=go.Layout(title="Order Number by Country")
fig=go.Figure(data, layout)
iplot(fig)

In [ ]:
from matplotlib import pyplot

In [ ]:
type(df_order_date.iloc[1,0])

In [ ]:
bins_date=[pd.Timestamp('2011-06-30 00:00:00'),pd.Timestamp('2011-07-31 00:00:00')]
plt.hist(df_order_date.iloc[:,0],bins=bins_date)

In [ ]:
df_order_date.iloc[0,0]- df_order_date.iloc[1,0]

In [ ]:
data=[go.Histogram(x=df_order_date.iloc[:,0],
      autobinx=False,
      xbins=dict(
          start=df_order_date.iloc[0,0],
         end=df_order_date.iloc[-1,0],size=pd.Timedelta('30 days 00:00:00')
                ))]
iplot(data)

In [ ]:
data=[go.Histogram(x=df_order_date.iloc[:,0],
      autobinx=False,
      xbins=dict(
          start=df_order_date.iloc[0,0],
         end=df_order_date.iloc[-1,0]
                ))]
iplot(data)

In [ ]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-JT7GQBL\SQLEXPRESS;'
                      'Database=AdventureWorks;'
                      'Trusted_Connection=yes;')

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute('SELECT COLUMN_NAME, * FROM INFORMATION_SCHEMA.COLUMNS')
rows = cursor.fetchall()
rows

In [ ]:
Headerlist=[]
for i in range(len(rows)):
    if rows[i][3]=='SalesOrderHeader':
        Headerlist.append(rows[i][0])
print (Headerlist)

In [ ]:
df = pd.read_csv('C:\\Users\\yoyo\\Documents\\Adventure Works\\AdventureWorks\AdventureWorks-csv (copy samples)\\SalesOrderHeader.csv', '\t',
                names=Headerlist)
df.shape
df.head()
# print(type(df))

In [ ]:
df_Table_SalesOrderHeader=df[[]]
df_Table_SalesOrderHeader.to_csv('C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\AW\\SalesOrderHeader1.csv',index=False)

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute('select * from sales.Customer join person.person on person.person.BusinessEntityID=sales.Customer.PersonID;')
rows = cursor.fetchall()
rows

In [ ]:
rows[29][1]

In [ ]:
data=[]
for i in range(len(rows)):
    data.append(rows[i][0])
print (data)

In [ ]:
def data_slice(rows,data,x):
    data=[]
    for i in range(len(rows)):
        data.append(rows[i][x])
    print (data)

In [ ]:
import data_slice

In [ ]:
data_slice(rows,[],1)