In [1]:
import pandas as pd
import pyodbc
import pymysql
import matplotlib.pyplot as plt
import plotly as py
import plotly.graph_objs as go
import pandas as pd

In [2]:
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [3]:
py.__version__

'3.10.0'

In [4]:
init_notebook_mode(connected=True)

In [5]:
conn=pymysql.connect(database='adventureworks',user='root',password='')
cursor=conn.cursor()
cursor.execute('select * from SalesOrderHeader left join Address on Address.AddressID=SalesOrderHeader.ShiptoAddressID left join StateProvince on Address.StateProvinceID=StateProvince.StateProvinceID;')

31465

In [6]:
rows = cursor.fetchall()

In [ ]:
rows

In [8]:
df=pd.DataFrame(list(rows))

In [9]:
df.columns=["SalesOrderID","OrderDate","DueDate","ShipDate","OnlineOrderFlag","CustomerID","SalesPersonID","BillToAddressID","ShipToAddressID","TotalDue","ModifiedDate","AddressID", "AddressLine1","AddressLine2", "City","StateProvinceID"," PostalCode", "ModifiedDate2","StateProvinceID","StateProvinceCode","Country","Name","ModifiedDate3"]

In [10]:
df

,SalesOrderID,OrderDate,DueDate,ShipDate,OnlineOrderFlag,CustomerID,SalesPersonID,BillToAddressID,ShipToAddressID,TotalDue,...,AddressLine2,City,StateProvinceID,PostalCode,ModifiedDate2,StateProvinceID,StateProvinceCode,Country,Name,ModifiedDate3
0,43659,2011-05-31,2011-06-12,2011-06-07,0,29825,279.0,985,985,23153.233900,...,,Austell,17,30106,31/05/2011 00:00\r,17,GA,US,Georgia,2014-02-08 10:17:21.587000000\r
1,43660,2011-05-31,2011-06-12,2011-06-07,0,29672,279.0,921,921,1457.328800,...,,Suwanee,17,30024,31/05/2011 00:00\r,17,GA,US,Georgia,2014-02-08 10:17:21.587000000\r
2,43661,2011-05-31,2011-06-12,2011-06-07,0,29734,282.0,517,517,36865.801200,...,,Toronto,57,M4B 1V5,31/05/2011 00:00\r,57,ON,CA,Ontario,2014-02-08 10:17:21.587000000\r
3,43662,2011-05-31,2011-06-12,2011-06-07,0,29994,282.0,482,482,32474.932400,...,,Toronto,57,M4B 1V5,31/05/2011 00:00\r,57,ON,CA,Ontario,2014-02-08 10:17:21.587000000\r
4,43663,2011-05-31,2011-06-12,2011-06-07,0,29565,276.0,1073,1073,472.310800,...,,Trabuco Canyon,9,92679,31/05/2011 00:00\r,9,CA,US,California,2014-02-08 10:17:21.587000000\r
5,43664,2011-05-31,2011-06-12,2011-06-07,0,29898,280.0,876,876,27510.410900,...,,Seattle,79,98104,31/05/2011 00:00\r,79,WA,US,Washington,2014-02-08 10:17:21.587000000\r
6,43665,2011-05-31,2011-06-12,2011-06-07,0,29580,283.0,849,849,16158.696100,...,,Seattle,79,98104,31/05/2011 00:00\r,79,WA,US,Washington,2014-02-08 10:17:21.587000000\r
7,43666,2011-05-31,2011-06-12,2011-06-07,0,30052,276.0,1074,1074,5694.856400,...,,San Mateo,9,94404,31/05/2011 00:00\r,9,CA,US,California,2014-02-08 10:17:21.587000000\r
8,43667,2011-05-31,2011-06-12,2011-06-07,0,29974,277.0,629,629,6876.364900,...,,Saint Louis,37,63103,31/05/2011 00:00\r,37,MO,US,Missouri,2014-02-08 10:17:21.587000000\r
9,43668,2011-05-31,2011-06-12,2011-06-07,0,29614,282.0,529,529,40487.723300,...,,Richmond,7,V6B 3P7,31/05/2011 00:00\r,7,BC,CA,British Columbia,2014-02-08 10:17:21.587000000\r
10,43669,2011-05-31,2011-06-12,2011-06-07,0,29747,283.0,895,895,807.258500,...,,Puyallup,79,98371,31/05/2011 00:00\r,79,WA,US,Washington,2014-02-08 10:17:21.587000000\r
11,43670,2011-05-31,2011-06-12,2011-06-07,0,29566,275.0,810,810,6893.254900,...,,Redford,35,48239,31/05/2011 00:00\r,35,MI,US,Michigan,2014-02-08 10:17:21.587000000\r
12,43671,2011-05-31,2011-06-12,2011-06-07,0,29890,283.0,855,855,9153.605400,...,,Port Orchard,79,98366,31/05/2011 00:00\r,79,WA,US,Washington,2014-02-08 10:17:21.587000000\r
13,43672,2011-05-31,2011-06-12,2011-06-07,0,30067,282.0,464,464,6895.410000,...,,Pnot-Rouge,63,J1E 2T7,31/05/2011 00:00\r,63,QC,CA,Quebec,2014-02-08 10:17:21.587000000\r
14,43673,2011-05-31,2011-06-12,2011-06-07,0,29844,275.0,821,821,4216.025800,...,,Plaistow,46,3865,31/05/2011 00:00\r,46,NH,US,New Hampshire,2014-02-08 10:17:21.587000000\r
15,43674,2011-05-31,2011-06-12,2011-06-07,0,29596,282.0,458,458,2955.054200,...,,Ottawa,57,K4B 1S2,31/05/2011 00:00\r,57,ON,CA,Ontario,2014-02-08 10:17:21.587000000\r
16,43675,2011-05-31,2011-06-12,2011-06-07,0,29827,277.0,631,631,6434.084800,...,,Odessa,37,64076,31/05/2011 00:00\r,37,MO,US,Missouri,2014-02-08 10:17:21.587000000\r
17,43676,2011-05-31,2011-06-12,2011-06-07,0,29811,275.0,755,755,15992.744600,...,,Newport News,75,23607,31/05/2011 00:00\r,75,VA,US,Virginia,2014-02-08 10:17:21.587000000\r
18,43677,2011-05-31,2011-06-12,2011-06-07,0,29824,278.0,556,556,8773.681000,...,,Montreal,63,H1Y 2H3,31/05/2011 00:00\r,63,QC,CA,Quebec,2014-02-08 10:17:21.587000000\r
19,43678,2011-05-31,2011-06-12,2011-06-07,0,29889,281.0,1021,1021,11036.396400,...,,Monrovia,9,91016,31/05/2011 00:00\r,9,CA,US,California,2014-02-08 10:17:21.587000000\r
20,43679,2011-05-31,2011-06-12,2011-06-07,0,29761,278.0,525,525,1481.174200,...,,Mississauga,57,L5B 3V4,31/05/2011 00:00\r,57,ON,CA,Ontario,2014-02-08 10:17:21.587000000\r
21,43680,2011-05-31,2011-06-12,2011-06-07,0,29489,281.0,1069,1069,12832.900900,...,,Modesto,9,95354,31/05/2011 00:00\r,9,CA,US,California,2014-02-08 10:17:21.587000000\r
22,43681,2011-05-31,2011-06-12,2011-06-07,0,29661,279.0,955,955,15524.068600,...,,Biloxi,39,39530,31/05/2011 00:00\r,39,MS,US,Mississippi,2014-02-08 10:17:21.587000000\r
23,43682,2011-05-31,2011-06-12,2011-06-07,0,29759,275.0,808,808,4363.710700,...,,Braintree,30,2184,31/05/2011 00:00\r,30,MA,US,Massachusetts,2014-02-08 10:17:21.587000000\r
24,43683,2011-05-31,2011-06-12,2011-06-07,0,29497,283.0,889,889,48204.066200,...,,Casper,82,82601,31/05/2011 00:00\r,82,WY,US,Wyoming,2014-02-08 10:17:21.587000000\r
25,43684,2011-05-31,2011-06-12,2011-06-07,0,29912,279.0,971,971,6301.625800,...,,Clearwater,15,33755,31/05/2011 00:00\r,15,FL,US,Florida,2014-02-08 10:17:21.587000000\r
26,43685,2011-05-31,2011-06-12,2011-06-07,0,30084,279.0,958,958,3082.019100,...,,Destin,15,32541,31/05/2011 00:00\r,15,FL,US,Florida,2014-02-08 10:17:21.587000000\r
27,43686,2011-05-31,2011-06-12,2011-06-07,0,29606,283.0,871,871,3899.675600,...,,Everett,79,98201,31/05/2011 00:00\r,79,WA,US,Washington,2014-02-08 10:17:21.587000000\r
28,43687,2011-05-31,2011-06-12,2011-06-07,0,29610,275.0,783,783,1416.932200,...,,Euclid,55,44119,31/05/2011 00:00\r,55,OH,US,Ohio,2014-02-08 10:17:21.587000000\r
29,43688,2011-05-31,2011-06-12,2011-06-07,0,29718,275.0,771,771,14323.119400,...,,Fort Wayne,25,46807,31/05/2011 00:00\r,25,IN,US,Indiana,2014-02-08 10:17:21.587000000\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31435,75094,2014-06-30,2014-07-12,2014-07-07,1,16927,,18927,18927,8.784800,...,,St. Leonards,50,2065,20/07/2013 00:00\r,50,NSW,AU,New South Wales,2014-02-08 10:17:21.587000000\r
31436,75095,2014-06-30,2014-07-12,2014-07-07,1,11657,,28191,28191,59.659000,...,,Novato,9,94947,25/10/2013 00:00\r,9,CA,US,California,2014-02-08 10:17:21.587000000\r
31437,75096,2014-06-30,2014-07-12,2014-07-07,1,11287,,25057,25057,98.311900,...,,Cliffside,7,V8Y 1L1,01/07/2013 00:00\r,7,BC,CA,British Columbia,2014-02-08 10:17:21.587000000\r
31438,75097,2014-06-30,2014-07-12,2014-07-07,1,21717,,26058,26058,49.702900,...,,Torrance,9,90505,30/06/2014 00:00\r,9,CA,US,California,2014-02-08 10:17:21.587000000\r
31439,75098,2014-06-30,2014-07-12,2014-07-07,1,23381,,13855,13855,41.183400,...,,Ballard,79,98107,30/06/2014 00:00\r,79,WA,US,Washington,2014-02-08 10:17:21.587000000\r
31440,75099,2014-06-30,2014-07-12,2014-07-07,1,21163,,27475,27475,80.587700,...,,Bellflower,9,90706,30/06/2014 00:00\r,9,CA,US,California,2014-02-08 10:17:21.587000000\r
31441,75100,2014-06-30,2014-07-12,2014-07-07,1,13350,,23301,23301,86.720400,...,,Shawnee,7,V8Z 4N5,18/09/2013 00:00\r,7,BC,CA,British Columbia,2014-02-08 10:17:21.587000000\r
31442,75101,2014-06-30,2014-07-12,2014-07-07,1,20201,,20069,20069,147.506500,...,,Lemon Grove,9,91945,30/06/2014 00:00\r,9,CA,US,California,2014-02-08 10:17:21.587000000\r
31443,75102,2014-06-30,2014-07-12,2014-07-07,1,19893,,25319,25319,132.577900,...,,Marysville,79,98270,30/06/2014 00:00\r,79,WA,US,Washington,2014-02-08 10:17:21.587000000\r
31444,75103,2014-06-30,2014-07-12,2014-07-07,1,18529,,23999,23999,44.177900,...,,Chantilly,75,20151,30/06/2014 00:00\r,75,VA,US,Virginia,2014-02-08 10:17:21.587000000\r
31445,75104,2014-06-30,2014-07-12,2014-07-07,1,17151,,28975,28975,14.298700,...,,Puyallup,79,98371,30/06/2014 00:00\r,79,WA,US,Washington,2014-02-08 10:17:21.587000000\r
31446,75105,2014-06-30,2014-07-12,2014-07-07,1,15160,,24471,24471,109.350800,...,,Chula Vista,9,91910,30/06/2014 00:00\r,9,CA,US,California,2014-02-08 10:17:21.587000000\r
31447,75106,2014-06-30,2014-07-12,2014-07-07,1,14474,,17877,17877,8.044400,...,,Oakland,9,94611,30/06/2014 00:00\r,9,CA,US,California,2014-02-08 10:17:21.587000000\r
31448,75107,2014-06-30,2014-07-12,2014-07-07,1,14029,,18062,18062,62.951900,...,,Lake Oswego,58,97034,30/06/2014 00:00\r,58,OR,US,Oregon,2014-02-08 10:17:21.587000000\r
31449,75108,2014-06-30,2014-07-12,2014-07-07,1,21347,,21109,21109,5.514000,...,,Cliffside,7,V8Y 1L1,30/06/2014 00:00\r,7,BC,CA,British Columbia,2014-02-08 10:17:21.587000000\r
31450,75109,2014-06-30,2014-07-12,2014-07-07,1,14114,,20071,20071,94.455400,...,,Coronado,9,92118,30/06/2014 00:00\r,9,CA,US,California,2014-02-08 10:17:21.587000000\r
31451,75110,2014-06-30,2014-07-12,2014-07-07,1,13753,,18943,18943,93.836600,...,,Redwood City,9,94063,30/06/2014 00:00\r,9,CA,US,California,2014-02-08 10:17:21.587000000\r
31452,75111,2014-06-30,2014-07-12,2014-07-07,1,19072,,20931,20931,54.111900,...,,Esher-Molesey,14,EM15,30/06/2014 00:00\r,14,ENG,GB,England,2014-02-08 10:17:21.587000000\r
31453,75112,2014-06-30,2014-07-12,2014-07-07,1,21523,,25913,25913,43.072900,...,,Saarlouis,70,66740,30/06/2014 00:00\r,70,SL,DE,Saarland,2014-02-08 10:17:21.587000000\r
31454,75113,2014-06-30,2014-07-12,2014-07-07,1,21524,,16851,16851,127.030800,...,,Peterborough,14,PB12,30/06/2014 00:00\r,14,ENG,GB,England,2014-02-08 10:17:21.587000000\r
31455,75114,2014-06-30,2014-07-12,2014-07-07,1,24704,,24932,24932,23.746500,...,,Offenbach,70,63009,30/06/2014 00:00\r,70,SL,DE,Saarland,2014-02-08 10:17:21.587000000\r
31456,75115,2014-06-30,2014-07-12,2014-07-07,1,26832,,13618,13618,88.919400,...,,Frankfurt,8,91480,30/06/2014 00:00\r,8,BY,DE,Bayern,2014-02-08 10:17:21.587000000\r
31457,75116,2014-06-30,2014-07-12,2014-07-07,1,16402,,27392,27392,5.514000,...,,Oxford,14,OX1,08/05/2014 00:00\r,14,ENG,GB,England,2014-02-08 10:17:21.587000000\r
31458,75117,2014-06-30,2014-07-12,2014-07-07,1,18178,,25522,25522,32.575400,...,,Reading,14,RG7 5H7,08/11/2013 00:00\r,14,ENG,GB,England,2014-02-08 10:17:21.587000000\r
31459,75118,2014-06-30,2014-07-12,2014-07-07,1,13671,,27439,27439,149.429200,...,,Poing,70,66041,30/06/2014 00:00\r,70,SL,DE,Saarland,2014-02-08 10:17:21.587000000\r
31460,75119,2014-06-30,2014-07-12,2014-07-07,1,11981,,17649,17649,46.719400,...,,Everett,79,98201,09/09/2013 00:00\r,79,WA,US,Washington,2014-02-08 10:17:21.587000000\r
31461,75120,2014-06-30,2014-07-12,2014-07-07,1,18749,,28374,28374,93.880800,...,,Newton,7,V2M1S6,12/04/2014 00:00\r,7,BC,CA,British Columbia,2014-02-08 10:17:21.587000000\r
31462,75121,2014-06-30,2014-07-12,2014-07-07,1,15251,,26553,26553,82.852900,...,,Oak Bay,7,V8P,06/10/2013 00:00\r,7,BC,CA,British Columbia,2014-02-08 10:17:21.587000000\r
31463,75122,2014-06-30,2014-07-12,2014-07-07,1,15868,,14616,14616,34.221900,...,,Sooke,7,V0,19/10/2013 00:00\r,7,BC,CA,British Columbia,2014-02-08 10:17:21.587000000\r
31464,75123,2014-06-30,2014-07-12,2014-07-07,1,18759,,14024,14024,209.916900,...,,Sooke,7,V0,19/10/2013 00:00\r,7,BC,CA,British Columbia,2014-02-08 10:17:21.587000000\r

In [ ]:
df_totaldue=df[["OrderDate","TotalDue","Country"]]
#df_totaldue.reset_index(drop=True)
#df_totaldue=df_totaldue.set_index('OrderDate').

In [ ]:
df_totaldue["TotalDue"]=df_totaldue["TotalDue"].astype(float)

In [ ]:
#df_sort=df_totaldue.sort_values(by=['Country'])

#df_totaldue.set_index(keys=['Country'], drop=False,inplace=True)
# get a list of names
Country=df_totaldue['Country'].unique().tolist()
# now we can perform a lookup on a 'view' of the dataframe
US_totaldue = df_totaldue.loc[df_totaldue.Country=='US']
# now you can query all 'joes'

In [ ]:
Country

In [ ]:
#g=df_totaldue.groupby(pd.Grouper(freq="M"))
g.head()
g["Country"].head()
g.loc[g["Country"]=="US"]

In [ ]:
g = df_totaldue.groupby(pd.Grouper(freq="M"))

In [ ]:
by_country=df_totaldue.groupby('Country').set_index("OrderDate",inplace=True)

In [ ]:
US_total=df_totaldue.loc[df_totaldue["Country"]=="US"]
AU_total=df_totaldue.loc[df_totaldue["Country"]=="AU"]
US_total

In [ ]:
conn=pymysql.connect(database='adventureworks',user='root',password='')
cursor=conn.cursor()
cursor.execute('select * from SalesOrderHeader left join Address on Address.AddressID=SalesOrderHeader.ShiptoAddressID left join StateProvince on Address.StateProvinceID=StateProvince.StateProvinceID;')

In [ ]:
rows = cursor.fetchall()

In [ ]:
data=rows

In [ ]:
Order_Number=data_slice(data,0)
Order_Number

In [ ]:
Country=data_slice(data,1)
Country

In [ ]:
df=pd.DataFrame({'Order_Number':Order_Number , 'Country': Country},index = ['a1', 'a2', 'a3','a4','a5','a6'])

In [ ]:
df

In [ ]:
data=[go.Bar(
    x= Country, 
    y= Order_Number)]
layout=go.Layout(title="Order Number by Country")
fig=go.Figure(data, layout)
iplot(fig)

In [ ]:
cursor.execute('select OrderDate, TotalDue from SalesOrderHeader;')

In [ ]:
rows_1 = cursor.fetchall()

In [ ]:
order_date=data_slice(rows_1,0)
total_due=data_slice(rows_1,1)

In [ ]:
df_order_date=pd.DataFrame({'OrderDate':order_date,'TotalDue':total_due})

In [ ]:
df_order_date.dtypes

In [ ]:
df_order_date

In [ ]:
month=pd.to_datetime(df_order_date.iloc[1,0]).month
month

In [ ]:
df_order_date.set_index('OrderDate',inplace=True)

In [ ]:
df_order_date.head()

In [ ]:
g = df_order_date.groupby(pd.Grouper(freq="M"))
g.head()

In [ ]:
df_due_by_month=g.sum()

In [ ]:
df_due_by_month.dtypes

In [ ]:
df_due_by_month.reset_index()['OrderDate']

In [ ]:
data=[go.Bar(x=df_due_by_month.reset_index()['OrderDate'],
    y= df_due_by_month.reset_index()['TotalDue'])]
layout=go.Layout(title="Order Number by Country")
fig=go.Figure(data, layout)
iplot(fig)

In [ ]:
from matplotlib import pyplot

In [ ]:
type(df_order_date.iloc[1,0])

In [ ]:
bins_date=[pd.Timestamp('2011-06-30 00:00:00'),pd.Timestamp('2011-07-31 00:00:00')]
plt.hist(df_order_date.iloc[:,0],bins=bins_date)

In [ ]:
df_order_date.iloc[0,0]- df_order_date.iloc[1,0]

In [ ]:
data=[go.Histogram(x=df_order_date.iloc[:,0],
      autobinx=False,
      xbins=dict(
          start=df_order_date.iloc[0,0],
         end=df_order_date.iloc[-1,0],size=pd.Timedelta('30 days 00:00:00')
                ))]
iplot(data)

In [ ]:
data=[go.Histogram(x=df_order_date.iloc[:,0],
      autobinx=False,
      xbins=dict(
          start=df_order_date.iloc[0,0],
         end=df_order_date.iloc[-1,0]
                ))]
iplot(data)

In [ ]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-JT7GQBL\SQLEXPRESS;'
                      'Database=AdventureWorks;'
                      'Trusted_Connection=yes;')

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute('SELECT COLUMN_NAME, * FROM INFORMATION_SCHEMA.COLUMNS')
rows = cursor.fetchall()
rows

In [ ]:
Headerlist=[]
for i in range(len(rows)):
    if rows[i][3]=='SalesOrderHeader':
        Headerlist.append(rows[i][0])
print (Headerlist)

In [ ]:
df = pd.read_csv('C:\\Users\\yoyo\\Documents\\Adventure Works\\AdventureWorks\AdventureWorks-csv (copy samples)\\SalesOrderHeader.csv', '\t',
                names=Headerlist)
df.shape
df.head()
# print(type(df))

In [ ]:
df_Table_SalesOrderHeader=df[[]]
df_Table_SalesOrderHeader.to_csv('C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\AW\\SalesOrderHeader1.csv',index=False)

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute('select * from sales.Customer join person.person on person.person.BusinessEntityID=sales.Customer.PersonID;')
rows = cursor.fetchall()
rows

In [ ]:
rows[29][1]

In [ ]:
data=[]
for i in range(len(rows)):
    data.append(rows[i][0])
print (data)

In [ ]:
def data_slice(rows,data,x):
    data=[]
    for i in range(len(rows)):
        data.append(rows[i][x])
    print (data)

In [ ]:
import data_slice

In [ ]:
data_slice(rows,[],1)