In [2]:
import pandas as pd
import pyodbc
import pymysql
import matplotlib.pyplot as plt
import plotly as py
import plotly.graph_objs as go
import pandas as pd

In [3]:
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [4]:
py.__version__

'3.10.0'

In [5]:
init_notebook_mode(connected=True)

In [6]:
conn=pymysql.connect(database='adventureworks',user='root',password='')
cursor=conn.cursor()
cursor.execute('select * from SalesOrderHeader left join Address on Address.AddressID=SalesOrderHeader.ShiptoAddressID left join StateProvince on Address.StateProvinceID=StateProvince.StateProvinceID;')

31465

In [7]:
rows = cursor.fetchall()

In [ ]:
rows

In [8]:
df=pd.DataFrame(list(rows))

In [9]:
df.columns=["SalesOrderID","OrderDate","DueDate","ShipDate","OnlineOrderFlag","CustomerID","SalesPersonID","BillToAddressID","ShipToAddressID","TotalDue","ModifiedDate","AddressID", "AddressLine1","AddressLine2", "City","StateProvinceID"," PostalCode", "ModifiedDate2","StateProvinceID","StateProvinceCode","Country","Name","ModifiedDate3"]

In [11]:
df.head()

,SalesOrderID,OrderDate,DueDate,ShipDate,OnlineOrderFlag,CustomerID,SalesPersonID,BillToAddressID,ShipToAddressID,TotalDue,...,AddressLine2,City,StateProvinceID,PostalCode,ModifiedDate2,StateProvinceID,StateProvinceCode,Country,Name,ModifiedDate3
0,43659,2011-05-31,2011-06-12,2011-06-07,0,29825,279.0,985,985,23153.233900,...,,Austell,17,30106,31/05/2011 00:00\r,17,GA,US,Georgia,2014-02-08 10:17:21.587000000\r
1,43660,2011-05-31,2011-06-12,2011-06-07,0,29672,279.0,921,921,1457.328800,...,,Suwanee,17,30024,31/05/2011 00:00\r,17,GA,US,Georgia,2014-02-08 10:17:21.587000000\r
2,43661,2011-05-31,2011-06-12,2011-06-07,0,29734,282.0,517,517,36865.801200,...,,Toronto,57,M4B 1V5,31/05/2011 00:00\r,57,ON,CA,Ontario,2014-02-08 10:17:21.587000000\r
3,43662,2011-05-31,2011-06-12,2011-06-07,0,29994,282.0,482,482,32474.932400,...,,Toronto,57,M4B 1V5,31/05/2011 00:00\r,57,ON,CA,Ontario,2014-02-08 10:17:21.587000000\r
4,43663,2011-05-31,2011-06-12,2011-06-07,0,29565,276.0,1073,1073,472.310800,...,,Trabuco Canyon,9,92679,31/05/2011 00:00\r,9,CA,US,California,2014-02-08 10:17:21.587000000\r

In [48]:
df_totaldue=df[["OrderDate","TotalDue","Country"]]
#df_totaldue.reset_index(drop=True)
#df_totaldue=df_totaldue.set_index('OrderDate').

In [49]:
df_totaldue["TotalDue"]=df_totaldue["TotalDue"].astype(float)

C:\Users\yoyo\Desktop\WPy64-3720\python-3.7.2.amd64\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [95]:
Country=df_totaldue['Country'].unique().tolist()
Country

['US', 'CA', 'FR', 'AU', 'GB', 'DE']

In [105]:
for i in Country:
    print (str(i)+"_total")

US_total
CA_total
FR_total
AU_total
GB_total
DE_total

In [68]:
df_totaldue['Year']=df_totaldue.OrderDate.dt.year
df_totaldue['Month']=df_totaldue.OrderDate.dt.month
df_totaldue['Day']=df_totaldue.OrderDate.dt.day

C:\Users\yoyo\Desktop\WPy64-3720\python-3.7.2.amd64\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\yoyo\Desktop\WPy64-3720\python-3.7.2.amd64\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\yoyo\Desktop\WPy64-3720\python-3.7.2.amd64\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [121]:
def by_country(list_country):
    for i in list_country:
        print (str(i)+"_total=df_totaldue.loc[df_totaldue['Country']=="+"'"+str(i)+"']")

In [122]:
by_country(Country)

US_total=df_totaldue.loc[df_totaldue['Country']=='US']
CA_total=df_totaldue.loc[df_totaldue['Country']=='CA']
FR_total=df_totaldue.loc[df_totaldue['Country']=='FR']
AU_total=df_totaldue.loc[df_totaldue['Country']=='AU']
GB_total=df_totaldue.loc[df_totaldue['Country']=='GB']
DE_total=df_totaldue.loc[df_totaldue['Country']=='DE']

In [96]:
US_total=df_totaldue.loc[df_totaldue["Country"]=="US"]
AU_total=df_totaldue.loc[df_totaldue["Country"]=="AU"]
CA_total=df_totaldue.loc[df_totaldue["Country"]=="CA"]
FR_total=df_totaldue.loc[df_totaldue["Country"]=="FR"]
GB_total=df_totaldue.loc[df_totaldue["Country"]=="GB"]
DE_total=df_totaldue.loc[df_totaldue["Country"]=="DE"]

In [71]:
US_total.

       OrderDate    TotalDue Country  Year  Month  Day
0     2011-05-31  23153.2339      US  2011      5   31
1     2011-05-31   1457.3288      US  2011      5   31
4     2011-05-31    472.3108      US  2011      5   31
5     2011-05-31  27510.4109      US  2011      5   31
6     2011-05-31  16158.6961      US  2011      5   31
7     2011-05-31   5694.8564      US  2011      5   31
8     2011-05-31   6876.3649      US  2011      5   31
10    2011-05-31    807.2585      US  2011      5   31
11    2011-05-31   6893.2549      US  2011      5   31
12    2011-05-31   9153.6054      US  2011      5   31
14    2011-05-31   4216.0258      US  2011      5   31
16    2011-05-31   6434.0848      US  2011      5   31
17    2011-05-31  15992.7446      US  2011      5   31
19    2011-05-31  11036.3964      US  2011      5   31
21    2011-05-31  12832.9009      US  2011      5   31
22    2011-05-31  15524.0686      US  2011      5   31
23    2011-05-31   4363.7107      US  2011      5   31
24    2011-05-31  48204.0662      US  2011      5   31
25    2011-05-31   6301.6258      US  2011      5   31
26    2011-05-31   3082.0191      US  2011      5   31
27    2011-05-31   3899.6756      US  2011      5   31
28    2011-05-31   1416.9322      US  2011      5   31
29    2011-05-31  14323.1194      US  2011      5   31
30    2011-05-31  38291.2063      US  2011      5   31
31    2011-05-31   1460.6061      US  2011      5   31
32    2011-05-31    985.0180      US  2011      5   31
33    2011-05-31  43362.4196      US  2011      5   31
34    2011-05-31  23126.4500      US  2011      5   31
35    2011-05-31  23242.1865      US  2011      5   31
36    2011-05-31  44344.8265      US  2011      5   31
...          ...         ...     ...   ...    ...  ...
31392 2014-06-28      5.5140      US  2014      6   28
31400 2014-06-28    134.7437      US  2014      6   28
31401 2014-06-28    156.8879      US  2014      6   28
31407 2014-06-29    102.1904      US  2014      6   29
31408 2014-06-29     26.2769      US  2014      6   29
31409 2014-06-29     66.8194      US  2014      6   29
31412 2014-06-29     35.6584      US  2014      6   29
31413 2014-06-29     40.4320      US  2014      6   29
31415 2014-06-29     79.0959      US  2014      6   29
31417 2014-06-29     43.6144      US  2014      6   29
31419 2014-06-29     81.7258      US  2014      6   29
31421 2014-06-29    147.5065      US  2014      6   29
31422 2014-06-29     85.0519      US  2014      6   29
31426 2014-06-30     18.7187      US  2014      6   30
31427 2014-06-30      8.7848      US  2014      6   30
31428 2014-06-30     38.6640      US  2014      6   30
31436 2014-06-30     59.6590      US  2014      6   30
31438 2014-06-30     49.7029      US  2014      6   30
31439 2014-06-30     41.1834      US  2014      6   30
31440 2014-06-30     80.5877      US  2014      6   30
31442 2014-06-30    147.5065      US  2014      6   30
31443 2014-06-30    132.5779      US  2014      6   30
31444 2014-06-30     44.1779      US  2014      6   30
31445 2014-06-30     14.2987      US  2014      6   30
31446 2014-06-30    109.3508      US  2014      6   30
31447 2014-06-30      8.0444      US  2014      6   30
31448 2014-06-30     62.9519      US  2014      6   30
31450 2014-06-30     94.4554      US  2014      6   30
31451 2014-06-30     93.8366      US  2014      6   30
31460 2014-06-30     46.7194      US  2014      6   30

[12041 rows x 6 columns]

In [72]:
US_total.set_index('OrderDate',inplace=True)

In [89]:
AU_total.set_index('OrderDate',inplace=True)

In [97]:
CA_total.set_index('OrderDate',inplace=True)
FR_total.set_index('OrderDate',inplace=True)
GB_total.set_index('OrderDate',inplace=True)
DE_total.set_index('OrderDate',inplace=True)

In [81]:
df_US=US_total.groupby(pd.Grouper(freq="M")).sum()

In [90]:
df_AU=AU_total.groupby(pd.Grouper(freq="M")).sum()

In [99]:
df_CA=CA_total.groupby(pd.Grouper(freq="M")).sum()
df_FR=FR_total.groupby(pd.Grouper(freq="M")).sum()
df_GB=GB_total.groupby(pd.Grouper(freq="M")).sum()
df_DE=DE_total.groupby(pd.Grouper(freq="M")).sum()

In [86]:
df_US.index

DatetimeIndex(['2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31',
               '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31',
               '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30',
               '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31',
               '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31',
               '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30',
               '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31',
               '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31',
               '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30',
               '2014-05-31', '2014-06-30'],
              dtype='datetime64[ns]', name='OrderDate', freq='M')

In [88]:
data=[go.Scatter(x=df_US.index,
    y= df_US['TotalDue'])]
layout=go.Layout(title="Order Number by Country")
fig=go.Figure(data, layout)
iplot(fig)

In [101]:
data_US=go.Scatter(x=df_US.index,
    y= df_US['TotalDue'],name='US')
data_AU=go.Scatter(x=df_AU.index,
    y= df_AU['TotalDue'],name='AU')
data_CA=go.Scatter(x=df_CA.index,
    y= df_CA['TotalDue'],name='CA')
data_FR=go.Scatter(x=df_AU.index,
    y= df_FR['TotalDue'],name='FR')
data_GB=go.Scatter(x=df_US.index,
    y= df_GB['TotalDue'],name='GB')
data_DE=go.Scatter(x=df_AU.index,
    y= df_DE['TotalDue'],name='DE')

data=[data_US,data_AU,data_CA,data_FR,data_GB,data_DE]
layout=go.Layout(title="Order Number by Country")
fig=go.Figure(data, layout)
iplot(fig)

In [150]:
print(US_total.where(US_total.Year==2011).sum())
print(US_total.where(US_total.Year==2012).sum())
print(US_total.where(US_total.Year==2013).sum())
print(US_total.where(US_total.Year==2014).sum())

TotalDue    9.445719e+06
Year        1.461997e+06
Month       6.628000e+03
Day         1.022300e+04
dtype: float64
TotalDue    2.460676e+07
Year        3.422412e+06
Month       1.108900e+04
Day         3.747100e+04
dtype: float64
TotalDue    2.604434e+07
Year        1.056221e+07
Month       4.477100e+04
Day         9.646100e+04
dtype: float64
TotalDue    1.073304e+07
Year        8.793124e+06
Month       1.452800e+04
Day         6.893300e+04
dtype: float64

In [160]:
US_2011=US_total.where(US_total.Year==2011).sum().TotalDue
US_2012=US_total.where(US_total.Year==2012).sum().TotalDue
US_2013=US_total.where(US_total.Year==2013).sum().TotalDue
US_2014=US_total.where(US_total.Year==2014).sum().TotalDue

AU_2011=AU_total.where(AU_total.Year==2011).sum().TotalDue
AU_2012=AU_total.where(AU_total.Year==2012).sum().TotalDue
AU_2013=AU_total.where(AU_total.Year==2013).sum().TotalDue
AU_2014=AU_total.where(AU_total.Year==2014).sum().TotalDue

CA_2011=CA_total.where(CA_total.Year==2011).sum().TotalDue
CA_2012=CA_total.where(CA_total.Year==2012).sum().TotalDue
CA_2013=CA_total.where(CA_total.Year==2013).sum().TotalDue
CA_2014=CA_total.where(CA_total.Year==2014).sum().TotalDue

In [164]:
US_2011=US_total.where(US_total.Year==2011).sum().TotalDue
print(US_total.where(US_total.Year==2012).sum().TotalDue)
US_2013=US_total.where(US_total.Year==2013).sum().TotalDue
US_2014=US_total.where(US_total.Year==2014).sum().TotalDue

AU_2011=AU_total.where(AU_total.Year==2011).sum().TotalDue
AU_2012=AU_total.where(AU_total.Year==2012).sum().TotalDue
AU_2013=AU_total.where(AU_total.Year==2013).sum().TotalDue
AU_2014=AU_total.where(AU_total.Year==2014).sum().TotalDue

24606758.785199896

In [166]:
labels = ['US','AU','CA']
values = [US_2012,AU_2012,CA_2012]
data=[go.Pie(labels=labels, values=values)]
fig = go.Figure(data)
iplot(fig)

In [165]:
labels = ['Oxygen','Hydrogen','Carbon_Dioxide','Nitrogen']
values = [4500, 2500, 1053, 500]

fig = go.Figure(data=[go.Pie(labels=labels, values=values)])
fig.show()

In [14]:
#df_sort=df_totaldue.sort_values(by=['Country'])
# sort the dataframe

# set the index to be this and don't drop
df_totaldue.set_index(keys=['Country'], drop=False,inplace=True)
# get a list of names
Country=df_totaldue['Country'].unique().tolist()
# now we can perform a lookup on a 'view' of the dataframe
US_totaldue = df_totaldue.loc[df_totaldue.Country=='US']
# now you can query all 'joes'

In [15]:
Country

['US', 'CA', 'FR', 'AU', 'GB', 'DE']

In [30]:
#g=df_totaldue.groupby(pd.Grouper(freq="M"))
#df_totaldue.head()
#df_totaldue.loc[df_totaldue.Country=="US"]
df_totaldue.set_index("OrderDate",inplace=True)
#df_totaldue.dtypes

In [31]:
df_totaldue

                TotalDue Country
OrderDate
2011-05-31  23153.233900      US
2011-05-31   1457.328800      US
2011-05-31  36865.801200      CA
2011-05-31  32474.932400      CA
2011-05-31    472.310800      US
2011-05-31  27510.410900      US
2011-05-31  16158.696100      US
2011-05-31   5694.856400      US
2011-05-31   6876.364900      US
2011-05-31  40487.723300      CA
2011-05-31    807.258500      US
2011-05-31   6893.254900      US
2011-05-31   9153.605400      US
2011-05-31   6895.410000      CA
2011-05-31   4216.025800      US
2011-05-31   2955.054200      CA
2011-05-31   6434.084800      US
2011-05-31  15992.744600      US
2011-05-31   8773.681000      CA
2011-05-31  11036.396400      US
2011-05-31   1481.174200      CA
2011-05-31  12832.900900      US
2011-05-31  15524.068600      US
2011-05-31   4363.710700      US
2011-05-31  48204.066200      US
2011-05-31   6301.625800      US
2011-05-31   3082.019100      US
2011-05-31   3899.675600      US
2011-05-31   1416.932200      US
2011-05-31  14323.119400      US
...                  ...     ...
2014-06-30      8.784800      AU
2014-06-30     59.659000      US
2014-06-30     98.311900      CA
2014-06-30     49.702900      US
2014-06-30     41.183400      US
2014-06-30     80.587700      US
2014-06-30     86.720400      CA
2014-06-30    147.506500      US
2014-06-30    132.577900      US
2014-06-30     44.177900      US
2014-06-30     14.298700      US
2014-06-30    109.350800      US
2014-06-30      8.044400      US
2014-06-30     62.951900      US
2014-06-30      5.514000      CA
2014-06-30     94.455400      US
2014-06-30     93.836600      US
2014-06-30     54.111900      GB
2014-06-30     43.072900      DE
2014-06-30    127.030800      GB
2014-06-30     23.746500      DE
2014-06-30     88.919400      DE
2014-06-30      5.514000      GB
2014-06-30     32.575400      GB
2014-06-30    149.429200      DE
2014-06-30     46.719400      US
2014-06-30     93.880800      CA
2014-06-30     82.852900      CA
2014-06-30     34.221900      CA
2014-06-30    209.916900      CA

[31465 rows x 2 columns]

In [34]:
g = df_totaldue.groupby(pd.Grouper(freq="M"))
g.head()

                TotalDue Country
OrderDate
2011-05-31  23153.233900      US
2011-05-31   1457.328800      US
2011-05-31  36865.801200      CA
2011-05-31  32474.932400      CA
2011-05-31    472.310800      US
2011-06-01   3953.988400      US
2011-06-01   3953.988400      AU
2011-06-01   3729.364000      AU
2011-06-01   3756.989000      AU
2011-06-02   3953.988400      US
2011-07-01  37106.291500      US
2011-07-01  22801.432400      CA
2011-07-01   9661.136700      US
2011-07-01   1038.516200      CA
2011-07-01   1022.915500      CA
2011-08-01    950.397900      US
2011-08-01  29779.137300      US
2011-08-01   4594.066400      US
2011-08-01   6872.975800      CA
2011-08-01  31591.947100      US
2011-09-01   3953.988400      FR
2011-09-01   3729.364000      AU
2011-09-01   3953.988400      AU
2011-09-02   3953.988400      US
2011-09-02   3953.988400      AU
2011-10-01  29689.350200      US
2011-10-01    472.310800      US
2011-10-01   3398.521200      US
2011-10-01   9215.681600      CA
2011-10-01   4560.286400      CA
...                  ...     ...
2014-01-01     30.144400      AU
2014-01-01     33.072700      AU
2014-01-01      5.514000      AU
2014-01-01     69.592900      AU
2014-01-01   2738.565700      FR
2014-02-01    888.950400      AU
2014-02-01     77.316900      AU
2014-02-01     41.205500      AU
2014-02-01    140.644400      AU
2014-02-01     68.465800      AU
2014-03-01  44393.215900      US
2014-03-01  32721.915000      GB
2014-03-01   8431.011400      US
2014-03-01  44818.961800      US
2014-03-01   1956.512400      AU
2014-04-01     42.509400      US
2014-04-01      8.784800      CA
2014-04-01     27.614000      AU
2014-04-01     44.177900      AU
2014-04-01     65.172900      AU
2014-05-01    806.232600      US
2014-05-01   1971.518200      US
2014-05-01     72.175100      GB
2014-05-01   1050.753500      US
2014-05-01   1260.303900      US
2014-06-01      8.784800      US
2014-06-01     33.127900      AU
2014-06-01     28.155400      AU
2014-06-01      8.044400      AU
2014-06-01    136.997900      AU

[190 rows x 2 columns]

In [ ]:
by_country=df_totaldue.groupby('Country').set_index("OrderDate",inplace=True)

In [ ]:
US_total=df_totaldue.loc[df_totaldue["Country"]=="US"]
AU_total=df_totaldue.loc[df_totaldue["Country"]=="AU"]
US_total

In [ ]:
conn=pymysql.connect(database='adventureworks',user='root',password='')
cursor=conn.cursor()
cursor.execute('select * from SalesOrderHeader left join Address on Address.AddressID=SalesOrderHeader.ShiptoAddressID left join StateProvince on Address.StateProvinceID=StateProvince.StateProvinceID;')

In [ ]:
rows = cursor.fetchall()

In [ ]:
data=rows

In [ ]:
Order_Number=data_slice(data,0)
Order_Number

In [ ]:
Country=data_slice(data,1)
Country

In [ ]:
df=pd.DataFrame({'Order_Number':Order_Number , 'Country': Country},index = ['a1', 'a2', 'a3','a4','a5','a6'])

In [ ]:
df

In [ ]:
data=[go.Bar(
    x= Country, 
    y= Order_Number)]
layout=go.Layout(title="Order Number by Country")
fig=go.Figure(data, layout)
iplot(fig)

In [ ]:
cursor.execute('select OrderDate, TotalDue from SalesOrderHeader;')

In [ ]:
rows_1 = cursor.fetchall()

In [ ]:
order_date=data_slice(rows_1,0)
total_due=data_slice(rows_1,1)

In [ ]:
df_order_date=pd.DataFrame({'OrderDate':order_date,'TotalDue':total_due})

In [ ]:
df_order_date.dtypes

In [ ]:
df_order_date

In [ ]:
month=pd.to_datetime(df_order_date.iloc[1,0]).month
month

In [ ]:
df_order_date.set_index('OrderDate',inplace=True)

In [ ]:
df_order_date.head()

In [ ]:
g = df_order_date.groupby(pd.Grouper(freq="M"))
g.head()

In [ ]:
df_due_by_month=g.sum()

In [ ]:
df_due_by_month.dtypes

In [ ]:
df_due_by_month.reset_index()['OrderDate']

In [ ]:
data=[go.Bar(x=df_due_by_month.reset_index()['OrderDate'],
    y= df_due_by_month.reset_index()['TotalDue'])]
layout=go.Layout(title="Order Number by Country")
fig=go.Figure(data, layout)
iplot(fig)

In [ ]:
from matplotlib import pyplot

In [ ]:
type(df_order_date.iloc[1,0])

In [ ]:
bins_date=[pd.Timestamp('2011-06-30 00:00:00'),pd.Timestamp('2011-07-31 00:00:00')]
plt.hist(df_order_date.iloc[:,0],bins=bins_date)

In [ ]:
df_order_date.iloc[0,0]- df_order_date.iloc[1,0]

In [ ]:
data=[go.Histogram(x=df_order_date.iloc[:,0],
      autobinx=False,
      xbins=dict(
          start=df_order_date.iloc[0,0],
         end=df_order_date.iloc[-1,0],size=pd.Timedelta('30 days 00:00:00')
                ))]
iplot(data)

In [ ]:
data=[go.Histogram(x=df_order_date.iloc[:,0],
      autobinx=False,
      xbins=dict(
          start=df_order_date.iloc[0,0],
         end=df_order_date.iloc[-1,0]
                ))]
iplot(data)

In [ ]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-JT7GQBL\SQLEXPRESS;'
                      'Database=AdventureWorks;'
                      'Trusted_Connection=yes;')

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute('SELECT COLUMN_NAME, * FROM INFORMATION_SCHEMA.COLUMNS')
rows = cursor.fetchall()
rows

In [ ]:
Headerlist=[]
for i in range(len(rows)):
    if rows[i][3]=='SalesOrderHeader':
        Headerlist.append(rows[i][0])
print (Headerlist)

In [ ]:
df = pd.read_csv('C:\\Users\\yoyo\\Documents\\Adventure Works\\AdventureWorks\AdventureWorks-csv (copy samples)\\SalesOrderHeader.csv', '\t',
                names=Headerlist)
df.shape
df.head()
# print(type(df))

In [ ]:
df_Table_SalesOrderHeader=df[[]]
df_Table_SalesOrderHeader.to_csv('C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\AW\\SalesOrderHeader1.csv',index=False)

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute('select * from sales.Customer join person.person on person.person.BusinessEntityID=sales.Customer.PersonID;')
rows = cursor.fetchall()
rows

In [ ]:
rows[29][1]

In [ ]:
data=[]
for i in range(len(rows)):
    data.append(rows[i][0])
print (data)

In [ ]:
def data_slice(rows,data,x):
    data=[]
    for i in range(len(rows)):
        data.append(rows[i][x])
    print (data)

In [ ]:
import data_slice

In [ ]:
data_slice(rows,[],1)